body {
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 40px;
  width: 800px;
  border-radius: 12px;
  border: 3px solid #00000030;
  text-align: center;
}

#verification_heading {
  margin-top: 0;
  font-size: 28px;
  font-weight: 700;
}

#verification_subtext {
  font-size: 16px;
  color: #555;
  margin-bottom: 40px;
}

.code-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.code {
  width: 70px;
  height: 90px;
  font-size: 48px;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  color: #555;
}

.code:focus {
  border-color: #333;
  outline: none;
}

.note {
  margin-top: 40px;
  font-size: 14px;
  color: #666;
  background: #e5e5e5;
  padding: 15px 25px;
  display: inline-block;
  border-radius: 8px;
}
